/*
ESTILOS MENU PRINCIPAL -- ORGANIZACIÓN DE LOS CONTENEDORES
*/

@import url("Dtables.css");

body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    background-color: rgba(10, 14, 20, 255);
    color: silver;
    font-size: 1.3em;
    font-family: 'Courier New', Courier, monospace;
}

.cabecera {
    flex: 0 1 100%;
    text-align: right;
    margin-right: 2%;
}

.contenedor {
    flex: 0 1 75%;
}

.sidebar {
    flex: 0 1 15%;
    flex-wrap: nowrap;
    border-right: 1px solid silver;
}

.sidebar ul li {
    list-style: none;
    padding-top: 7%;
}

.sidebar a {
    color: rgb(16, 233, 204);
}

.controlador {
    width: 90%;
    margin: 5%;
}

/*
    ESTILOS DE LA VISTA USUARIOS
*/

.display {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.form-control {
    background-color: white;
    border-radius: 8%;
    border: solid;
    border-width: thin medium;
}

.New_User {
    font-family: verdana, arial, sans-serif;
    font-size: 100%;
    font-weight: bold;
    padding: 4px;
    background-color: #12ee66;
    color: #666666;
    text-decoration: none;
    border-radius: 5%;
}

/*tr{
    font-size: 1em;
}*/

tr .options {
    width: 18%;
}

tr button a {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: rgba(123, 238, 213, 0.774);
    text-decoration: none;
}

thead {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: larger;
    text-decoration: underline;
    cursor: pointer;
}

tbody {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border-color: slategray;
    border-radius: 70%;
    height: 500px !important;
    color: rgba(10, 14, 20, 255);
}

tbody tr:nth-child(odd) {
    background-color: #FDFEFE;
    font-size: large;
}

tbody tr:nth-child(even) {
    background-color: #F4F6F7;
    font-size: large;
}

/*.dataTables_info {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(66, 8, 240);
    font-size: medium;
    color: silver;
    display: inline-block;
    margin-top: 2%;
    margin-left: 49%;
    margin-right: 5%;
}

.dataTables_wrapper .dataTables_paginate {
    display: inline-block;
    font-size: medium;
    background-color: #FDFEFE;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(10, 14, 20, 255);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: rgba(10, 14, 20, 255) !important;
    border: 1px solid transparent;
    border-radius: 2px
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #979797;
    background-color: white;
    background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, white 0%, #dcdcdc 100%)
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #111;
    background-color: #585858;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    background: linear-gradient(to bottom, #585858 0%, #111 100%)
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #2b2b2b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
    background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
    box-shadow: inset 0 0 3px #111
}*/

/*ESTILOS DE LA VISTA DE EDICIÓN DE USUARIOS*/