body {
    display: flex;
    flex-direction: column;
}

.table {
    width: 100%;
    text-align: center;
}

.New_User {
    font-family: verdana, arial, sans-serif;
    font-size: 100%;
    font-weight: bold;
    padding: 4px;
    background-color: #12ee66;
    color: #666666;
    text-decoration: none;
    border-radius: 5%;
}